.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  background-color: white;
  color: #000000;
  border: solid black;
  padding: 140px;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto;
}

.clicked{
  font-size: 200%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.gameOn{
  font-family: fantasy;
  font-weight: bolder;
  }